{{range $dir := lsdir "/nginx/services"}}
{{ $backend := replace $dir "." "_" -1}}
upstream {{$backend}} { 
    {{$custdir := printf "/nginx/services/%s/*" $dir}}{{range gets $custdir}}
    server {{.Value}} ;
    {{end}}
}
server {
    server_name {{base $dir}};
    location / {
        proxy_pass {{$backend}};

        proxy_set_header    Host             $host;
        proxy_set_header    X-Real-IP        $remote_addr;
        proxy_set_header    X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header    HTTP_X_FORWARDED_FOR $remote_addr;
    }
}
{{end}}
